### IntelliJ IDEA ###
*.iml
/.idea

### Eclipse ###
/.settings/
.classpath
.project
.springBeans

### Build ###
/target/


### config ###
src/main/resources/*.properties

### Upload File ###
src/main/webapp/upload/